* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
}

body {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
  min-width: 320px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ---------header---------- */
/* logo */
.logo a {
  display: flex;
  align-items: baseline;
  width: 200px;
  font-family: initial;
}

.logo-box {
  width: 45px;
  height: 70px;
  background: red;
  position: relative;
}

.logo-box p {
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: -5px;
  line-height: 23px;
}

.logo-texts {
  color: red;
  text-transform: capitalize;
  padding-left: 5px;
}

/* nav */
label {
  text-align: center;
}

label p {
  font-size: 16px;
  text-transform: capitalize;
}

#menu {
  display: none;
}

.open {
  position: fixed;
  top: -1px;
  right: -1px;
  z-index: 20;
  background: white;
  border: 1px solid rgb(145, 115, 114);
  border-radius: 0 0 0 10px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.open,
.close {
  font-size: 24px;
  cursor: pointer;
}

aside {
  width: 40vw;
  height: 100vh;
  background: #f7f3f3;
  border-left: 1px solid rgb(145, 115, 114);
  border-radius: 0 0 0 10px;
  letter-spacing: initial;
  position: fixed;
  top: calc(-100vh + 79px);
  right: calc(-40vw + 79px);
  z-index: -1;
  overflow-y: auto;
  overflow-x: initial;
  transition: all 0.3s ease-out;
}

aside::-webkit-scrollbar {
  display: none;
}

#menu:checked ~ aside {
  right: 0;
  top: 0;
  z-index: 100;
}

#menu:checked ~ .back {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 20;
}

.nav-container {
  width: 65%;
  margin: auto;
  padding: 120px 0;
}

.nav-pages li {
  margin-bottom: 15px;
}

.nav-pages a {
  display: inline-block;
  transition: all 0.2s ease-out;
}

.nav-pages p {
  text-align: left;
  text-transform: capitalize;
}

.en-link {
  font-weight: bold;
  font-size: 20px;
  transition: color 0.2s ease-out;
}

.jp-link {
  font-size: 0.8rem;
}

.sns-btns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-sns {
  justify-content: left;
  margin-top: 50px;
}

.sns-btns a {
  margin-right: 8px;
  font-size: 18px;
}

.nav-pages a:hover .en-link {
  color: #e3170a;
}

.nav-pages a:hover {
  padding-left: 5px;
}

.fab {
  transition: color 0.2s ease-out;
}

.fa-youtube:hover {
  color: rgb(255, 0, 0);
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: rgb(247, 37, 133);
}

/* ---------main--------- */
/* title */
.title-container {
  width: 90%;
  margin: auto;
  padding: 80px 0 60px;
  text-align: center;
}

.title h1 {
  color: #e3170a;
}

.title h1 span {
  color: transparent;
  -webkit-text-stroke: 1px #e3170a;
}

.title h2 {
  font-size: 16px;
}

/* contents */
.counseling-contents {
  padding-top: 50px;
}

.container {
  width: 90%;
  margin: auto;
}

.content1 {
  position: relative;
}

.shade-taking {
  width: 100%;
  position: absolute;
  top: -40px;
  z-index: -1;
}

.shade-taking h1 {
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px rgba(145, 115, 114, 0.4);
}

.contents-container {
  max-width: 1110px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content1,
.content3 {
  background: #f7f3f3;
}

.circles {
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgb(145, 115, 114);
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.4);
  margin-bottom: 40px;
  position: relative;
}

.circle1::before {
  content: "01";
}

.circle2::before {
  content: "02";
}

.circle3::before {
  content: "03";
}

.circles::before {
  display: block;
  width: 36px;
  height: 36px;
  background: rgb(34, 34, 34);
  border-radius: 50%;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.circles p {
  width: 150px;
  margin: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-container img {
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
}

/* ----------footer---------- */
footer {
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.footer-container {
  max-width: 1100px;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 13px;
}

/* ----------responsive----------- */
@media screen and (min-width: 500px) {
  /* logo */
  .logo a {
    width: 230px;
  }

  .logo-box {
    width: 60px;
    height: 85px;
  }

  .logo-box p {
    font-size: 56px;
    line-height: 32px;
  }

  .logo-texts {
    font-size: 18px;
    padding-left: 5px;
  }

  /* title */
  .title h1 {
    font-size: 40px;
  }

  .title h2 {
    font-size: 18px;
  }

  /* contents */
  .counseling-contents {
    padding-top: 80px;
  }

  .shade-taking {
    top: -60px;
  }

  .shade-taking h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 700px) {
  /* nav */
  .open,
  .close {
    font-size: 30px;
  }

  .sns-btns a {
    margin-right: 12px;
  }

  /* title */
  .title h1 {
    font-size: 48px;
  }

  .title h2 {
    font-size: 24px;
  }

  /* contents */
  .counseling-contents {
    padding-top: 100px;
  }

  .shade-taking {
    top: -88px;
  }

  .shade-taking h1 {
    font-size: 88px;
  }

  .contents-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .contents-container img {
    width: 50%;
  }

  .content2 .contents-container {
    flex-direction: row-reverse;
  }

  /* footer */
  .footer-container {
    width: 90%;
    margin: auto;
    position: relative;
    padding: 30px 0;
  }

  .footer-sns {
    position: absolute;
    top: 16px;
    right: 0;
  }
}

@media screen and (min-width: 900px) {
  /* contents */
  .counseling-contents {
    padding-top: 130px;
  }

  .shade-taking {
    top: -120px;
  }

  .shade-taking h1 {
    font-size: 120px;
  }

  .contents-container img {
    width: 350px;
  }

  .circles {
    width: 300px;
    height: 300px;
  }

  .circles::before {
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: 13px;
    font-size: 20px;
  }

  .circles p {
    width: 200px;
    height: 300px;
    font-size: 18px;
    line-height: 36px;
  }
}
